.main_container {
    -fx-background-color: white;
}

.top_bar {
    -fx-background-color: rgb(0, 0, 139);
}

.left_navigation {
    -fx-background-color: rgb(0, 0, 139,0.8);
}

.search_field {
    -fx-border-width: 0;
    -fx-font-size: 15px;
    -fx-text-alignment: center;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -fx-background-color: rgb(255, 255, 255,0.2);
    -fx-background-radius: 30px;
}

.search_field:focused {
    -fx-border-width: 0;
}

.search_btn{
    -fx-font-size: 15px;
    -fx-start-margin: 5px;
    -fx-background-radius: 30px;
    -fx-padding: 10px 15px 10px 15px;
    -fx-background-color: white;
    -fx-text-fill: darkblue;
}
.search_btn:hover{
    -fx-background-color: whitesmoke;
}
.nav_btn {
    -fx-background-color: transparent;
    -fx-background-radius: 20px;
    -fx-border-width: 0;
    -fx-font-size: 20px;
}

.nav_btn:hover {
    -fx-background-color: rgb(25, 25, 143);
}

.nav_clicked_btn {
    -fx-background-color: rgb(0, 0, 139,0.9);
}

.table_container {
    -fx-background-color: rgb(0, 0, 139,0.5);
    -fx-background-radius: 15px;
}

.table_title {
    -fx-text-alignment: center;
}

.table {
    -fx-background-color: white;
}