.top_bar{
    -fx-background-color: #04B400;
    -fx-border-radius: 50px;
}
.left_navigation{
    -fx-background-color: #5CCD60;
}
.search_field{
    /* -fx-border-radius: 50%; */
    -fx-border-width: 0;
    /* -fx-border-color: white; */
    -fx-font-size: 15px;
    -fx-text-alignment: center;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -fx-background-color: #49B447;
    -fx-background-radius: 30px;
}
.search_field:focused{
    -fx-border-width: 0;
}
.nav_btn{
    -fx-background-color: transparent;
    -fx-background-radius: 20px;
    -fx-border-width: 0;
    -fx-font-size: 20px;
}
.nav_btn:hover{
    -fx-background-color: #31d339;
}
.nav_clicked_btn{
    -fx-background-color: #1EBE25;
}
.table_container{
    -fx-background-color: rgb(4, 181, 0,0.3);
    -fx-background-radius: 15px;
}
.table_title{
    -fx-text-alignment: center;
}
.table{
    -fx-background-color: white;
}